:root {
  --fontSize: 73vh;
}

* {
  box-sizing: border-box;
  user-select: none;
}

html {
  font-family: sans-serif;
}

body {
  color: #ccc;
  background-color: black;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-weight: 300;
  width: 100vw;
  height:100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.top {
  height: 20vh;
  width: 100%;
    /* border: 1px solid orange; */
}
.middle {
  height: 60vh;
  width: 90%;
  /* border: 1px solid blue; */
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.wrapper15 {
    width: 15%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.wrapper25 {
    width: 25%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}



.clock {
    width: 95%;
    transition-timing-function: ease-in;
    -webkit-transition: width 0.15s; /* For Safari 3.1 to 6.0 */
    transition: width 0.15s;
    /* border: 1px solid blue; */
}
.clock:hover {
    width: 100%;
    transition-timing-function: ease-in;
    -webkit-transition: width 0.15s; /* For Safari 3.1 to 6.0 */
    transition: width 0.15s;
/
}


.tetris {
    width: 95%;
    transition-timing-function: ease-in;
    -webkit-transition: width 0.15s; /* For Safari 3.1 to 6.0 */
    transition: width 0.15s;
    /* border: 1px solid blue; */
}
.tetris:hover {
    width: 100%;
    transition-timing-function: ease-in;
    -webkit-transition: width 0.15s; /* For Safari 3.1 to 6.0 */
    transition: width 0.15s;
    /* border: 1px solid blue; */
}

.weather {
    width: 95%;
    transition-timing-function: ease-in;
    -webkit-transition: width 0.15s; /* For Safari 3.1 to 6.0 */
    transition: width 0.15s;
    /* border: 1px solid blue; */
}
.weather:hover{
  width:100%;
  transition-timing-function: ease-in;
  -webkit-transition: width 0.15s; /* For Safari 3.1 to 6.0 */
  transition: width 0.15s;
}

img {
  width: 100%;
}

.bottom {
  height: 20vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border: 1px solid lime; */
}

#displayVersion {

    color: #666;
    position: absolute;
    bottom: 0.5%;
    left: 0.5%;
    font-size: calc(var(--fontSize)/45);
}

#displayVersion a {
    text-decoration: none;
    color: #aaa;
}

#displayContact a {
    text-decoration: none;
    color: #ccc;
    position: absolute;
    bottom: 0.5%;
    right: 0.5%;
    font-size: calc(var(--fontSize)/45);
}
