:root {
  --oSize: 70vh;
  --fontSizeHello: 4vh; }

.width10 {
  width: 10%; }

.width13 {
  width: 13%; }

.width15 {
  width: 15%; }

.width20 {
  width: 20%; }

.width25 {
  width: 25%; }

.width30 {
  width: 30%; }

.width40 {
  width: 40%; }

.width50 {
  width: 50%; }

.width65 {
  width: 65%; }

.width75 {
  width: 75%; }

.width90 {
  width: 90%; }

.width100 {
  width: 100%; }

.navTop {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-items: flex-end;
  height: 5vh;
  width: 100%;
  border: 0px solid magenta; }

.navLeft {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 5vh;
  border: 0px solid magenta; }
  .navLeft a {
    -ms-transform: rotate(270deg);
    /* IE 9 */
    -webkit-transform: rotate(270deg);
    /* Safari */
    transform: rotate(270deg);
    /* Standard syntax */ }

.navRight {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 5vh;
  border: 0px solid magenta; }
  .navRight a {
    -ms-transform: rotate(90deg);
    /* IE 9 */
    -webkit-transform: rotate(90deg);
    /* Safari */
    transform: rotate(90deg);
    /* Standard syntax */ }

.navBottom {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-items: flex-start;
  height: 5vh;
  width: 100%;
  border: 0px solid magenta; }
  .navBottom a {
    -ms-transform: rotate(180deg);
    /* IE 9 */
    -webkit-transform: rotate(180deg);
    /* Safari */
    transform: rotate(180deg);
    /* Standard syntax */ }

.navArrow {
  display: none;
  height: 2.5vh;
  border: 0px solid cyan;
  opacity: 0.2;
  transition-timing-function: ease-in;
  -webkit-transition: opacity 2s;
  /* For Safari 3.1 to 6.0 */
  transition: opacity 2s; }
  .navArrow:hover {
    opacity: 0.95;
    transition-timing-function: ease-out;
    -webkit-transition: opacity .2s;
    /* For Safari 3.1 to 6.0 */
    transition: opacity .2s; }

@media (min-width: 1200px) {
  .navArrow {
    display: block; } }
.introWrapper {
  width: 100%;
  height: 90vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  border: 0px solid orange; }

.navNESW {
  position: absolute;
  height: var(--oSize)/2;
  width: var(--oSize)/2;
  height: 65vh;
  width: 65vh;
  border-radius: 50%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  -ms-transform: rotate(45deg);
  /* IE 9 */
  -webkit-transform: rotate(45deg);
  /* Safari */
  transform: rotate(45deg);
  /* Standard syntax */
  border: 0px solid orange; }
  .navNESW .navNorth, .navNESW .navEast, .navNESW .navSouth, .navNESW .navWest {
    display: flex;
    justify-content: flex-start;
    width: 50%;
    height: 50%;
    border: 0px solid red;
    border-radius: 10vh;
    padding: 5vh; }
    .navNESW .navNorth img, .navNESW .navEast img, .navNESW .navSouth img, .navNESW .navWest img {
      margin-left: -4%;
      -ms-transform: rotate(-45deg);
      /* IE 9 */
      -webkit-transform: rotate(-45deg);
      /* Safari */
      transform: rotate(-45deg);
      /* Standard syntax */ }
  .navNESW .navEast {
    -ms-transform: rotate(90deg);
    /* IE 9 */
    -webkit-transform: rotate(90deg);
    /* Safari */
    transform: rotate(90deg);
    /* Standard syntax */ }
  .navNESW .navWest {
    -ms-transform: rotate(180deg);
    /* IE 9 */
    -webkit-transform: rotate(180deg);
    /* Safari */
    transform: rotate(180deg);
    /* Standard syntax */ }
  .navNESW .navSouth {
    -ms-transform: rotate(270deg);
    /* IE 9 */
    -webkit-transform: rotate(270deg);
    /* Safari */
    transform: rotate(270deg);
    /* Standard syntax */ }

#hello {
  color: #EEE;
  font-size: var(--fontSizeHello);
  text-shadow: 00px 0px 4px  white; }

#circleRed {
  position: absolute;
  will-change: position;
  fill: magenta;
  border: 0px solid magenta; }

#circleCyanUnderlay {
  position: absolute;
  will-change: position;
  fill: white; }

#circleCyan {
  position: absolute;
  will-change: position;
  fill: rgba(0, 220, 235, 0.95);
  border: 0px solid rgba(0, 220, 235, 0.95); }

#circleWhiteUnderlay {
  position: absolute;
  fill: white; }

#circleWhite {
  position: absolute; }
  #circleWhite a {
    fill: rgba(255, 255, 255, 0.95);
    border: 0px solid rgba(255, 255, 255, 0.95); }

.animateRed {
  -webkit-animation: animateRed 10.5s ease-in-out infinite alternate-reverse both;
  animation: animateRed 10.5s ease-in-out infinite alternate-reverse both; }

.animateCyan {
  -webkit-animation: animateCyan 8.3s ease-in-out infinite alternate-reverse both;
  animation: animateCyan 8.3s ease-in-out infinite alternate-reverse both; }

@keyframes animateRed {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  25% {
    -webkit-transform: translateX(9.7px);
    transform: translateX(9.7px); }
  40% {
    -webkit-transform: translateY(-0.82px);
    transform: translateY(-0.82px); }
  50% {
    -webkit-transform: translateX(-4.3px);
    transform: translateX(-4.3px); }
  75% {
    -webkit-transform: translateX(5.5px);
    transform: translateX(5.5px); }
  90% {
    -webkit-transform: translateY(0.55px);
    transform: translateY(0.55px); }
  100% {
    -webkit-transform: translateX(-1.6px);
    transform: translateX(-1.6px); } }
@keyframes animateCyan {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  25% {
    -webkit-transform: translateX(-4.3px);
    transform: translateX(-4.3px); }
  30% {
    -webkit-transform: translateY(0.97px);
    transform: translateY(0.97px); }
  45% {
    -webkit-transform: translateX(9.7px);
    transform: translateX(9.7px); }
  60% {
    -webkit-transform: translateY(-0.43px);
    transform: translateY(-0.43px); }
  80% {
    -webkit-transform: translateX(-8.2px);
    transform: translateX(-8.2px); }
  100% {
    -webkit-transform: translateX(5.5px);
    transform: translateX(5.5px);
    -webkit-transform: translateY(0);
    transform: translateY(0); } }
.bioWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  border: 0px solid yellow; }

.detailsWrapper {
  width: 100%;
  justify-content: flex-start;
  border: 0px solid salmon; }
  .detailsWrapper .name {
    font-size: 2.5em;
    border: 0px solid cyan; }
  .detailsWrapper .qualification {
    font-size: 1.2em;
    border: 0px solid cyan; }
  .detailsWrapper .contact {
    padding: 10px 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-content: flex-start;
    font-size: 1em;
    border: 0px solid cyan; }
    .detailsWrapper .contact a {
      text-decoration: none;
      color: white;
      padding-top: 5px; }
    .detailsWrapper .contact i {
      padding-right: 10px; }
    .detailsWrapper .contact .contactText, .detailsWrapper .contact .contactIcons {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      border: 0px solid yellow; }
    .detailsWrapper .contact .contactText {
      justify-content: flex-start;
      align-items: flex-start; }

.bioTextWrapper {
  border: 0px solid lime;
  border-top: 1px solid #fff;
  font-size: 1em;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start; }
  .bioTextWrapper .bioText {
    font-family: sans-serif;
    color: #fff;
    border: 0px solid purple;
    padding-top: 10px;
    text-align: justify; }

.techIconsWrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: flex-start;
  border: 0px solid yellow; }
  .techIconsWrapper img {
    width: 5vw;
    max-width: 100px;
    min-width: 80px;
    margin: 10px 5px;
    -webkit-filter: invert(1);
    /* safari 6.0 - 9.0 */
    filter: invert(1); }

.techIconsWrapper::after {
  content: "";
  flex: auto; }

.projectTile {
  width: 100%;
  height: 66.6%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border: 0px solid yellow; }

@media (min-height: 500px) {
  .projectTile {
    height: 66%; } }
@media (min-height: 900px) {
  .projectTile {
    width: 33.3%;
    height: 40%; } }
@media (min-height: 1200px) {
  .projectTile {
    height: 20%; } }
@media (min-width: 350px) {
  .projectTile {
    width: 100%; } }
@media (min-width: 500px) {
  .projectTile {
    width: 50%; } }
@media (min-width: 900px) {
  .projectTile {
    width: 33.3%; } }
@media (min-width: 1500px) {
  .projectTile {
    width: 25%;
    height: 50%; } }
.iconWrapper {
  width: 100%;
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 0px solid salmon; }

.icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 45%;
  transition-timing-function: ease-in;
  -webkit-transition: width 0.15s;
  /* For Safari 3.1 to 6.0 */
  transition: width 0.15s;
  border: 0px solid cyan; }

.icon:hover {
  width: 50%;
  transition-timing-function: ease-out;
  -webkit-transition: width 0.1s;
  /* For Safari 3.1 to 6.0 */
  transition: width 0.1s; }

.projectTextWrapper {
  width: 100%;
  border: 0px solid lime;
  font-size: 1em;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center; }
  .projectTextWrapper .projectText {
    width: 85%;
    font-family: sans-serif;
    color: #fff;
    border: 0px solid purple;
    border-top: 1px solid #fff;
    padding-top: 10px;
    text-align: justify; }
  .projectTextWrapper .projectTech {
    width: 85%;
    padding-right: 5px;
    font-family: sans-serif;
    color: #aaa;
    border: 0px solid yellow;
    padding-top: 5px; }
  .projectTextWrapper i {
    font-size: 0.9em; }
  .projectTextWrapper a {
    padding-top: 5px;
    width: 100%;
    border: 0px solid cyan;
    color: #aaa;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 0.85em;
    transition-timing-function: ease-in;
    -webkit-transition: color 1s;
    /* For Safari 3.1 to 6.0 */
    transition: color 1s; }
  .projectTextWrapper a:hover {
    color: #fff;
    transition-timing-function: ease-out;
    -webkit-transition: color .1s;
    /* For Safari 3.1 to 6.0 */
    transition: color .1s;
    text-decoration: none; }

footer #displayVersion {
  color: #666;
  position: fixed;
  bottom: 0.5%;
  left: 0.5%;
  font-family: sans-serif;
  font-size: 1.6222222222vh; }
footer #displayVersion a {
  text-decoration: none;
  color: #ccc;
  font-family: sans-serif; }
footer #displayContact a {
  text-decoration: none;
  color: #ccc;
  position: fixed;
  bottom: 0.5%;
  right: 0.5%;
  font-family: sans-serif;
  font-size: 1.6222222222vh; }

* {
  box-sizing: border-box;
  user-select: none;
  overflow-x: hidden;
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth; }

body {
  color: #fff;
  background-color: black;
  font-weight: 300;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.o {
  width: var(--oSize);
  height: var(--oSize); }

body::-webkit-scrollbar {
  width: 0 !important; }

section {
  width: 99%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 0px solid white; }

.projectWrapper {
  height: 90vh;
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  border: 0px solid orange; }

.bioWrapper {
  width: 80%;
  display: block;
  align-content: center;
  border: 0px solid orange; }

@media (min-width: 700px) {
  .bioWrapper {
    display: flex;
    height: 90vh; } }
@media (min-width: 1500px) {
  .bioWrapper {
    width: 70%; } }

/*# sourceMappingURL=style.css.map */
