.oWrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  postion: relative; }

.o {
  width: 100%;
  height: 75%;
  left: 0%; }

#circleRed {
  position: absolute;
  will-change: position;
  fill: magenta; }

#circleCyanUnderlay {
  position: absolute;
  will-change: position;
  fill: white; }

#circleCyan {
  position: absolute;
  will-change: position;
  fill: rgba(0, 220, 235, 0.95); }

#circleWhiteUnderlay {
  position: absolute;
  fill: white; }

#circleWhite {
  position: absolute; }
  #circleWhite a {
    fill: rgba(255, 255, 255, 0.97); }

.animateRed {
  -webkit-animation: animateRed 10.5s ease-in-out infinite alternate-reverse both;
  animation: animateRed 10.5s ease-in-out infinite alternate-reverse both; }

.animateCyan {
  -webkit-animation: animateCyan 8.3s ease-in-out infinite alternate-reverse both;
  animation: animateCyan 8.3s ease-in-out infinite alternate-reverse both; }

@keyframes animateRed {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  25% {
    -webkit-transform: translateX(9.7px);
    transform: translateX(9.7px); }
  40% {
    -webkit-transform: translateY(-0.82px);
    transform: translateY(-0.82px); }
  50% {
    -webkit-transform: translateX(-4.3px);
    transform: translateX(-4.3px); }
  75% {
    -webkit-transform: translateX(5.5px);
    transform: translateX(5.5px); }
  90% {
    -webkit-transform: translateY(0.55px);
    transform: translateY(0.55px); }
  100% {
    -webkit-transform: translateX(-1.6px);
    transform: translateX(-1.6px); } }
@keyframes animateCyan {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  25% {
    -webkit-transform: translateX(-4.3px);
    transform: translateX(-4.3px); }
  30% {
    -webkit-transform: translateY(0.97px);
    transform: translateY(0.97px); }
  45% {
    -webkit-transform: translateX(9.7px);
    transform: translateX(9.7px); }
  60% {
    -webkit-transform: translateY(-0.43px);
    transform: translateY(-0.43px); }
  80% {
    -webkit-transform: translateX(-8.2px);
    transform: translateX(-8.2px); }
  100% {
    -webkit-transform: translateX(5.5px);
    transform: translateX(5.5px);
    -webkit-transform: translateY(0);
    transform: translateY(0); } }
.iconWrapper {
  width: 25%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: 0px solid yellow; }

.icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 75%;
  transition-timing-function: ease-out;
  -webkit-transition: width 0.15s;
  /* For Safari 3.1 to 6.0 */
  transition: width 0.15s;
  border: 0px solid cyan; }

.icon:hover {
  width: 80%;
  transition-timing-function: ease-in;
  -webkit-transition: width 0.05s;
  /* For Safari 3.1 to 6.0 */
  transition: width 0.05s; }

img {
  width: 100%; }

#displayVersion {
  color: #666;
  position: fixed;
  bottom: 0.5%;
  left: 0.5%;
  font-size: 1.62vh; }

#displayVersion a {
  text-decoration: none;
  color: #aaa; }

#displayContact a {
  text-decoration: none;
  color: #ccc;
  position: fixed;
  bottom: 0.5%;
  right: 0.5%;
  font-size: 1.62vh; }

* {
  box-sizing: border-box;
  user-select: none;
  overflow-x: hidden;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth; }

body {
  color: #ccc;
  background-color: black;
  font-weight: 300;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

body::-webkit-scrollbar {
  width: 0 !important; }

section.intro {
  height: 100vh;
  width: 99%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 0px solid red; }

section.projects {
  height: 100vh;
  width: 99%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 0px solid red; }

.top {
  height: 50vh;
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-top: 7vh;
  border: 0px solid orange; }

.middle {
  height: 0vh;
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: 0px solid orange; }

.bottom {
  height: 50vh;
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-bottom: 7vh;
  border: 0px solid orange; }

.width10 {
  width: 10%; }

.width13 {
  width: 13%; }

.width15 {
  width: 15%; }

.width20 {
  width: 20%; }

.width25 {
  width: 25%; }

.width50 {
  width: 50%; }

.width65 {
  width: 65%; }

.width75 {
  width: 75%; }

.width90 {
  width: 90%; }

.width100 {
  width: 100%; }

.width120 {
  max-width: 95%;
  max-height: 95%; }

/*# sourceMappingURL=style.css.map */
