footer {

  #displayVersion {
      color: $textDim;
      position: fixed;
      bottom: 0.5%;
      left: 0.5%;
      font-family: sans-serif;
      font-size: $fontSizeNew;
  }

  #displayVersion a {
      text-decoration: none;
      color: $textBright;
      font-family: sans-serif;

  }

  #displayContact a {
      text-decoration: none;
      color: $textNormal;
      position: fixed;
      bottom: 0.5%;
      right: 0.5%;
      font-family: sans-serif;
      font-size: $fontSizeNew;
  }

}
