:root {
  --oSize: 70vh;
  --fontSizeHello: 4vh;
}

@import 'variables';

@mixin flexColumnTop ()
{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}



@mixin flexColumnCenter ()
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@mixin flexRowCenter ()
{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}


@mixin flexRowOverflow ()
{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}

@mixin flexRowSpaceBetween ()
{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
}
@mixin flexRowSpaceBetweenCenter()
{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin: 0 auto;
  align-items: flex-start;
}


@import 'nav';
@import 'sectionintro';
@import 'sectionbio';
@import 'sectionprojects';
@import 'footer';

* {
  box-sizing: border-box;
  user-select: none;
  overflow-x:hidden;
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-size-adjust: auto;
}


body {
  color: $textBright;
  background-color: $colorBackground;
  font-weight: $fontWeight;
  min-height:100vh;
  @include flexColumnCenter();
}

.o {
  width:  (var(--oSize));
  height: (var(--oSize));

}


body::-webkit-scrollbar {
  width: 0 !important
}

section {
  height: 100vh;
  width: 99%;
  @include flexColumnCenter();
  border: $devBorder solid white;
}

.centerRowSingle {
  height: 90vh;
  width: 95%;
  border: $devBorder solid orange;
}

@media (min-width: 1200px) {
  .centerRowSingle{
    @include flexRowCenter();
  }
}

.centerColumnSingle {
  height: 90%;
  width: 90%;
  align-content: center;
  border: $devBorder solid orange;

}

@media (min-width: 1200px) {
  .centerColumnSingle{
    width: 90%;
  }
}


.centerRowDouble {
  height: 90vh;
  width: 90%;
  @include flexRowOverflow();
  border: $devBorder solid orange;
}
