.navTop {
  @include flexRowCenter();
  height: 10vh;
  width: 90%;
  padding-top: 3vh;
  border: $devBorder solid magenta;
}


.navBottom {
  @include flexRowCenter();
  height: 10vh;
  width: 90%;
  padding-bottom: 3vh;
  border: $devBorder solid magenta;
}

.navArrow {
  height: 3.5vh;
  border: $devBorder solid cyan;
  opacity: 0.85;
  transition-timing-function: ease-in;
  -webkit-transition: opacity 1s; /* For Safari 3.1 to 6.0 */
  transition: opacity 1s;
  transition-timing-function: ease-in;
  -webkit-transition: height 0.15s; /* For Safari 3.1 to 6.0 */
  transition: height 0.15s;

  &:hover {
    height: 4.0vh;
    opacity: 0.95;
    transition-timing-function: ease-out;
    -webkit-transition: opacity 3s; /* For Safari 3.1 to 6.0 */
    transition: opacity 3s;
    transition-timing-function: ease-out;
    -webkit-transition: height 0.2s; /* For Safari 3.1 to 6.0 */
    transition: height 0.2s;

  }
}
