.iconWrapper{
  width: 25%;
  height: 100%;
  @include flexRowCenter();
  border: $devBorder solid yellow;
}

.icon {
  @include flexColumnCenter();
  width: $iconProject;
  transition-timing-function: ease-out;
  -webkit-transition: width 0.15s; /* For Safari 3.1 to 6.0 */
  transition: width 0.15s;
  border: $devBorder solid cyan;
}
.icon:hover {
  width: $iconProjectHover;
  transition-timing-function: ease-in;
  -webkit-transition: width 0.05s; /* For Safari 3.1 to 6.0 */
  transition: width 0.05s;
}

img {
  width: 100%;
}
