@media (min-width: 1000px) {
  .bioWrapper{
    width: 40%;
  }
  .techIconsWrapper{
    width: 60%;
  }
}


.bioWrapper{
  width: 100%;
  padding-bottom: 20px;
  @include flexColumnTop();
  justify-content: center;
  align-items: flex-start;
  border: $devBorder solid yellow;
}


.detailsWrapper{
  min-height: 50%;

  justify-content: flex-start;
  border: $devBorder solid salmon;

  .name {
    font-size: $fontBioName;
    border: $devBorder solid cyan;
  }
  .qualification {
    font-size: $fontBioQualification;
    border: $devBorder solid cyan;
  }
  .contact {
    padding: 10px 0;
    @include flexRowCenter();
    justify-content: flex-start;
    font-size: $fontBioContact;
    border: $devBorder solid cyan;
    a {
        text-decoration: none;
        color: white;
        padding-top: 5px;
    }
    i {
      padding-right: 10px;
    }
    .contactText, .contactIcons {
      @include flexColumnTop();
      border: $devBorder solid yellow;
    }
    .contactText {
      justify-content: flex-start;
      align-items: flex-start;
    }
  }
}



.bioTextWrapper {
  border: $devBorder solid lime;
  border-top: 1px solid $textBright;
  font-size: $fontBioText;
  @include flexColumnTop();

  .bioText {
    font-family: sans-serif;
    color: $textBright;
    border: $devBorder solid purple;
    padding-top: 10px;
    text-align: justify;
  }
}

.techIconsWrapper{
  width: 100%;
  @include flexRowSpaceBetweenCenter();
  border: $devBorder solid yellow;

  img {
    width: 5vw;
    max-width:100px;
    min-width: 80px;
    margin: 10px 5px;
    -webkit-filter: invert(1); /* safari 6.0 - 9.0 */
    filter: invert(1);
  }
}

.techIconsWrapper::after {
  content: "";
  flex: auto;
}
