
.bioWrapper{
  width: 40%;
  height: 60%;
  padding-right: 20px;
  @include flexColumnTop();
  justify-content: flex-start;
  align-items: flex-start;
  border: $devBorder solid yellow;
}


.detailsWrapper{
  height: 50%;
  @include flexColumnCenter();
  align-items: flex-start;
  border: $devBorder solid salmon;

  .name {
    font-size: $fontBioName;
    border: $devBorder solid cyan;
  }
  .qualification {
    font-size: $fontBioQualification;
    border: $devBorder solid cyan;
  }
  .contact {
    padding-top: 10px;
    @include flexRowCenter();
    font-size: $fontBioContact;
    border: $devBorder solid cyan;
    a {
        text-decoration: none;
        color: white;
        padding-top: 5px;
    }
    i {
      padding-right: 10px;
    }
    .contactText, .contactIcons {
      @include flexColumnTop();
      border: $devBorder solid yellow;
    }
    .contactText {
      justify-content: flex-start;
      align-items: flex-start;
    }
  }
}



.bioTextWrapper {
  border: $devBorder solid lime;
  border-top: 1px solid $textBright;
  font-size: $fontBioText;
  @include flexColumnTop();

  .bioText {
    width: 100%;
    font-family: sans-serif;
    color: $textBright;
    border: $devBorder solid purple;
    padding-top: 10px;
    text-align: justify;
  }
}



.techIconsWrapper{
  width: 40%;
  @include flexRowSpaceBetweenCenter();
  border: $devBorder solid yellow;

  img {
    width: 5vw;
    margin: 10px 5px;
    -webkit-filter: invert(1); /* safari 6.0 - 9.0 */
    filter: invert(1);
  }
}
