$colorBackground: black;
$textBright: #aaa;
$textNormal: #ccc;
$textDim: #666;
$fontSize: 73vh;
$fontSizeNew: 1.62vh;

$colorHello: #EEE;
$fontSizeHello: 4vh;

$iconProject: 75%;
$iconProjectHover: $iconProject + 5%;

$devBorder: 0px;
