:root {
  --fontSize: 73vh;
}

* {
  box-sizing: border-box;
  user-select: none;
  cursor: default;
}




html {
  font-family: sans-serif;
}

body {
  color: #ccc;
  background-color: black;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-weight: 300;
  font-size: calc(var(--fontSize)/35);
  /* border: 1px solid red; */
  width: 100vw;
  height:100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.top {
  height: 20vh;
  width: 100%;
    /* border: 1px solid orange; */
}
.middle {
  height: 60vh;
  width: 80%;
  /* border: 1px solid blue; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

p {
  padding: 0;
  margin: 0;
}


.bottom {
  height: 20vh;
  width: 100%;

  /* border: 1px solid lime; */
}

#displayContact {

    position: absolute;
    bottom: 0.5%;
    right: 0.5%;
    font-size: calc(var(--fontSize)/45);
}
